body {
  background-color: #F6E7C5;
  text-align: center;
}

.owl {
  /*font-family: fantasy;*/
  /* I just hate the way this looks in the list*/
}

h4.owl {
  font-family: fantasy;
}

.secret {
  opacity: 0.5;
}

ul {
  list-style-type: none;
  padding: 0;
}

h5 {
  margin-bottom: 5px;
}

table {
  border: 1px solid gray;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  
}

tr {
  border: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
}

td {
  border: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
}

th {
  border: 1px solid gray;
  padding-left: 10px;
  padding-right: 10px;
}

.cabbage {
  color: chartreuse;
}

h1 {
  font-family: cursive;
}